* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(90deg, rgb(9, 9, 107), #797be8);
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container {
  background-color: #fff;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.lista-tarefas {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 15px;
}
.add-tarefa {
  background-color: green;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
